node_modules
dist
out
.DS_Store
.eslintcache
*.log*
*.db*
native/extractor/*.exe
native/watcher/*.exe
native/compact/*.exe
native/ini-parser/build
native/ini-parser/target
native/ini-parser/*.node
native/extractor/target
native/extractor/*.node
native/process-monitor

*.gen.ts